body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
#header{
    display: flex;
    align-items: center;
    height: 85px;
    background-image: url("black-friday-cat.jpg");
    color: white;
    font-size: 40px;
}
.firstletter{
    display: flex;
    align-items: end;
    font-size: 60px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    margin-right: 700px;
    margin-left: 20px;
    font-size: 20px;
}
#homebutton{
    color: white;
    background-color: black;
    padding: 10px 15px 10px 15px;
}
.buttons{
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:  0px;
}
#junk{
    margin-left: 650px;
}
#heading_slide{
    margin-top: 0px;
    height: 50px;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    font-size: 20px;
}
#thundersign{
    margin-top: 18px;
    display: flex;
    align-self: center;
    margin-left: 17px;
    margin-right: 17px;
}
#newsflash{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 60px;
}
#flashednews{
    font-size: 19px;
    color: rgb(112, 108, 108);
    margin-right: 680px;
}
#degree{
    font-size: 10px;
    margin-left: 10px;
}
#date{
    font-size: 19px;
    color: rgb(112, 108, 108);
    margin-left: 5px;
}
#news1icons{
    grid-area: news1icons;
}
#news2icons{
    grid-area: news2icons;
}
#news3icons{
    grid-area: news3icons;
}
#news4icons{
    grid-area: news4icons;
}
#tabs{
    grid-area: tabs;
}
#blogs{
    grid-area: blogs;
}
#blogs1{
    grid-area: blogs1;
}
#blogs2{
    grid-area: blogs2;
}
#blogs3{
    grid-area: blogs3;
}
#bod{
    display: grid;
    grid-template-areas: 'news1icons news2icons news3icons tabs'
    'news1icons news2icons news3icons blogs'
    'news1icons news2icons news3icons blogs1'
    'news1icons news2icons news4icons blogs2'
    'news1icons news2icons news4icons blogs3';
}
#culture{
    grid-area: culture;
}
.feature{
    grid-area: feature;
}
#news{
    grid-area: news;
}
#logo{
    grid-area: logo;
}
#theme{
    grid-area: theme;
}
#news1icons{
    display: grid;
    height:400px;
    width:400px;
    margin-top: 55px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-image: url("images.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 2.5%;
    grid-template-areas: 'culture feature'
    'news news news news news'
    'logo theme';
}
#culture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width:60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 200px;
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin-right: 10px;
    height: 20px;
    width:60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-top: 200px;
    margin-left: 110px;
    margin-bottom: 0px;
}
#news{
    color: whitesmoke;
    font-size: 30px;
    margin-top: 240px;
    margin-right: 0px;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo{
    margin-left: 30px;
    margin-top: 325px;
    color: whitesmoke;
}
#theme{
    margin-left: 60px;
    margin-top: 325px;
    size: 10px;
    color:whitesmoke;
}
#lifestyle1{
    grid-area: lifestyle1;
}
.feature1{
    grid-area: feature1;
}
#news1{
    grid-area:news1;
}
#logo1{
    grid-area: logo1;
}
#theme1{
    grid-area: theme1;
}
#news2icons{
    display: grid;
    height:400px;
    width:250px;
    margin-top: 55px;
    margin-left: 60px;
    margin-bottom: 10px;
    background-image: url("girl.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 2.5%;
    grid-template-areas: 'feature1 lifestyle1 lifestyle1 lifestyle1'
    'news1 news1 news1 news1 news1' 
    'logo1 theme1';
}
#lifestyle1{
    display: flex;
    height: 20px;
    width:60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-bottom: 500px;
    margin-left: 30px;
    margin-top: 220px;
    margin-right: 10px;
}
.feature1{
    display: flex;
    margin-right: 0px;
    height: 20px;
    width:60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-top: 220px;
    margin-left: 100px;
    margin-bottom: 0px;
}
#news1{
    color: whitesmoke;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 260px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo1{
    margin-left: 30px;
    margin-top: 325px;
    color: whitesmoke;
}
#theme1{
    margin-left: 60px;
    margin-top: 325px;
    size: 10px;
    color:whitesmoke;
}
.feature2{
    grid-area: feature2;
}
#food{
    grid-area: food;
}
#news2{
    grid-area: news2;
}
#logo2{
    grid-area: logo2;
}
#theme2{
    grid-area: theme2;
}
#news3icons{
    display: grid;
    height:195px;
    width:195px;
    margin-top: 55px;
    margin-left: 60px;
    margin-bottom: 10px;
    background-image: url("coffee.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 2.5%;
    grid-template-areas: 'feature2 food food food'
    'news2 news2 news2 news2 news2'
    'logo2 theme2';
}
.feature2{
    display: flex;
    margin-right: 0px;
    height: 20px;
    width:60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-top: 70px;
    margin-left: 60px;
    margin-bottom: 0px;
}
#food{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    height: 20px;
    width:40px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 0px;
}
#news2{
    color: whitesmoke;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo2{
    margin-left: 10px;
    margin-top: 150px;
    color: whitesmoke;
}
#theme2{
    margin-left: 40px;
    margin-top: 150px;
    size: 10px;
    color:whitesmoke;
}
.feature3{
    grid-area: feature3;
}
#health{
    grid-area: health;
}
#news3{
    grid-area: news3;
}
#logo3{
    grid-area: logo3;
}
#theme3{
    grid-area: theme3;
}
#news4icons{
    display: grid;
    height:195px;
    width:195px;
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 10px;
    background-image: url("steth.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 2.5%;
    grid-template-areas: 'feature3 health . .'
    'news3 news3 news3 news3 news3'
    'logo3 theme3';
}
.feature3{
    display: flex;
    margin-right: 0px;
    height: 20px;
    width:60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 0px;
}
#health{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    height: 20px;
    width:50px;
    color: white;
    background-color: black;
    border-radius: 30%;
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 0px;
}
#news3{
    color: whitesmoke;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo3{
    margin-left: 10px;
    margin-top: 150px;
    color: whitesmoke;
}
#theme3{
    margin-left: 40px;
    margin-top: 150px;
    size: 10px;
    color:whitesmoke;
}
#tabs{
    display: flex;
    margin-top: 55px;
    margin-left: 60px;
    height: 75px;
    font-size: 25px;
    margin-bottom: 0px;
}
#tab1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    color: white;
    background-color: black;
    width: 125px;
    border-radius: 2.5%;
    margin-bottom: 10px;
}
#tab2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 125px;
    border-color: black;
    border-width: 10px;
    border-radius: 2.5%;
    background-color: aliceblue;
    margin-bottom: 10px;
}
#blogs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cricket{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 35%;
    border-radius: 2.5%;
}
#first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: aliceblue;
    margin-right: 195px;
}
#blogs1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#flood{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 35%;
    border-radius: 2.5%;
}
#second{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: aliceblue;
    margin-right: 195px;
}
#blogs2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#flood1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 35%;
    border-radius: 2.5%;
}
#third{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: aliceblue;
    margin-right: 195px;
}
#blogs3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#flood2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 35%;
    border-radius: 2.5%;
}
#fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: aliceblue;
    margin-right: 195px;
}